body {
    text-align: center;
}

.menu {
    float: left;
    margin-top: 5%;
    width: 25%;

    background-color: #9a9a9a;
}

#CatDetails {
    float: right;
    width: 74%;

    padding-bottom: 10px;

    background-color: #9a9a9a;
}

#menu {
    padding: 0;
}

#menu li {
    list-style-type: none;
}

.menu li h2 {
    cursor: pointer;

    margin: 2px;
    padding: 0;

    background-color: #ccc;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

#catImg {
    width: 400px;
    height: 400px;

    cursor: pointer;
}

#admin-form {
    display: none;
}

#admin-form label {
    float: left;
    margin-left: 25%;
    text-align: right;
}

#admin-form input {
    float: right;
    margin-right: 25%;
}
